<div id="editCoin" class="editModal">

  <!-- Modal content -->
  <div class="edit-coin-modal-content">
    <span class="close">&times;</span>
    {{!-- <p>Edit coin info</p> --}}

    <form class="add-coin-form" onsubmit="return false" {{on "submit" this.addCoin }}>
      <label for="date">Date</label>
      <input class="date-input" type="number" min="0" max="2023" name="date" {{on "change" (fn this.update "date" )}}>

      <label for="mintmark">Mint Mark</label>
      <select name="mintmark" id="mintmark">
        <option value="P">P</option>
        <option value="D">D</option>
        <option value="S">S</option>
        <option value="O">O</option>
      </select>

      <label for="attributes">Attributes</label>
      <input type="text" name="attributes" {{on "change" (fn this.update "attributes" )}}>

      <label for="notes">Notes</label>
      <input type="text" name="notes" {{on "change" (fn this.update "attributes" )}}>


      <button type="submit">Add</button>

      <label for="grade">Grade</label>
      <select name="grade" id="mintmark">
        {{!-- <option value="na">Not graded</option> --}}
        <option value="MS 65">MS 65</option>

        <option value="AU 50">AU 50</option>
      </select>

    </form>


    {{!-- <button type="button" {{action "addCoin" }}>addCoin</button> --}}
  </div>

</div>