<Navbar>
</Navbar>

<div class="coin-body">

  <div class="coin-info">

  
    <Input id="coin-checkbox" @type="checkbox" @checked={{@model.inCollection}} {{on "input" (fn this.checkCoin @model.coinId) }}/>
    {{!-- <Input id="coin-checkbox" @type="checkbox" @checked={{@model.inCollection}} {{action "checkCoin" @model.coinId}}/> --}}

    <label for="x">In collection</label><br>

    <h2>One {{@model.denomination}}</h2>


    <h2>{{@model.date}} {{@model.mintMark}}</h2>

    <label for="attributes">Attributes: </label>
    <h2>{{@model.attributes}}</h2>
    <label for="notes">Notes: </label>
    <h2>{{@model.notes}}</h2>

  </div>

  <div class="coin-images">
    <img src="http://10.252.174.190:8080/coin/1/image/1" alt="Girl in a jacket">
    <img src="http://10.252.174.190:8080/coin/1/image/1" alt="Girl in a jacket">
    <img src="http://10.252.174.190:8080/coin/1/image/1" alt="Girl in a jacket">

  </div>



  {{!-- <h2>{{@model.timestamp}}</h2> --}}
  {{!-- <h2>{{@model.grade}}</h2> --}}

</div>

<button {{action "deleteCoin" @model.coinId}}>delete</button>
<button {{action "modifyCoin" @model.coinId}}>modify</button>
<button {{action "openModal" @model.coinId}}>edit</button>

<EditCoin></EditCoin>



{{!-- <input {{action "deleteCoin" @model.coinId}} type="text"> --}}