<Navbar>
</Navbar>





<div class="coin-body">
  
  

  <div class="coin-info">

    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1">In collection</label><br>

    <h2>One {{@model.denomination}}</h2>


    <h2>{{@model.date}} {{@model.mintMark}}</h2>

    <label for="attributes">Attributes: </label>
    <h2>{{@model.attributes}}</h2>
    <label for="notes">Notes: </label>
    <h2>{{@model.notes}}</h2>

  </div>

  <div class="coin-images">
    <img src="http://localhost:8080/coin/1/image/1" alt="Girl in a jacket">
    <img src="http://localhost:8080/coin/1/image/1" alt="Girl in a jacket">
    <img src="http://localhost:8080/coin/1/image/1" alt="Girl in a jacket">

  </div>



  {{!-- <h2>{{@model.timestamp}}</h2> --}}
  {{!-- <h2>{{@model.grade}}</h2> --}}

</div>