<h1>Collection</h1>

<h1>{{@model.collectionId}}</h1>
<h1>{{@model.userId}}</h1>
<h1>{{@model.collectionName}}</h1>
<h1>{{@model.denominationQuantity}}</h1>
<h1>{{@model.denomination}}</h1>
<h1>{{@model.permissions}}</h1>
<h1>{{@model.timestamp}}</h1>